{% extends 'base.html.twig' %}

{% block title %}Hello TableController!
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1 class="text-danger">Hello
			{{ controller_name }}! ✅</h1>

		<p>Filas:
			{{ arrayBidimensional|length }}</p>
		<p>Columnas:
			{{ arrayBidimensional[0]|length }}</p>

		<table class="table">
			<thead>
				<tr>
					{% for i in 1..arrayBidimensional[0]|length %}
						<th>Col.
							{{ i }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for fila in arrayBidimensional %}
					<tr>
						{% for valor in fila %}
							<td>{{ valor }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}
